* { box-sizing: border-box; }

/*MODELO DE MALLA*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

@media (min-width: 0px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}
}

@media (min-width: 768px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}
}

[class*="col-"] { float: left; }

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*ELEMENTOS FLEX*/
.flex-all-center {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-row { flex-direction: row; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.align-items-center { align-items: center; }

[class*="flex-"] { display: flex; }

/*COLORES*/
.back-red { background-color: #C0392B }
.back-purple { background-color: #8E44AD; }
.back-blue { background-color: #2980B9; }
.back-green { background-color: #16A085; }
.back-yellow { background-color: #F1C40F; }
.back-orange { background-color: #E67E22; }

/*TEXTO*/
h1, h2, h3, h4, h5, h6 { font-family: 'Century Gothic', Verdana, sans-serif; }

.text-white { color: white; }

.text-center { text-align: center; }

/*BORDES*/
.border { border: 1px solid lightgray; }

.bt { border-top: 1px solid lightgray; }
.br { border-right: 1px solid lightgray; }
.bb { border-bottom: 1px solid lightgray; }
.bl { border-left: 1px solid lightgray; }

/*PADDING y MARGIN*/
.p-0 { padding: 0; }
.p-1 { padding: 0.25em; }
.p-2 { padding: 0.5em; }
.p-3 { padding: 1em; }
.p-4 { padding: 1.5em; }
.p-5 { padding: 3em; }

.pb-0 { padding: 0; }
.pb-1 { padding: 0.25em; }
.pb-2 { padding: 0.5em; }
.pb-3 { padding: 1em; }
.pb-4 { padding: 1.5em; }
.pb-5 { padding: 3em; }

.m-0 { margin: 0; }
.m-1 { margin: 0.25em; }
.m-2 { margin: 0.5em; }
.m-3 { margin: 1em; }
.m-4 { margin: 1.5em; }
.m-5 { margin: 3em; }

/*OTROS*/
.card {
    border: 1px solid lightgray;
    box-shadow: lightgray 4px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.section-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em 0;
}

.h-50 { height: 100vh; }